<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.Name %>
</p>

<p>
  <strong>Course no:</strong>
  <%= @course.course_no %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
